*.rbc
capybara-*.html
/log
/tmp
/public/tmp
/db/*.sqlite3
/public/system
/coverage/
/spec/tmp
**.orig
rerun.txt
pickle-email-*.html
/profiles
/etl_projects
/config/initializers/stdout_to_puma.rb
/config/initializers/dev_hacks.rb
/node_modules